.login-container {
  min-height: 100vh;
  position: relative;
  background: url('https://images.pexels.com/photos/205353/pexels-photo-205353.jpeg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.login-box {
  position: relative;
  z-index: 2;
 background: rgba(255, 255, 255, 0.50);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-box h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-box input,
.login-box select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-box button {
  padding: 10px;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.login-box button:disabled {
  background-color: #6c757d;
}

.toggle-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}
